/*
  global styles for tpcrisis
*/
@import "./colours";


// when used on a tag, turns it into a flexbox and centers content verticallu and horizontally
.tpFlexCenterContents {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Global styles for articles */

// copied from TpLink, not very efficient as repeating myself
.artLink {
  border-radius: 0.2em;
  font-size: 1.1em; 
  color: $tpTextLinkColour;
  display: inline-block; // otherwise padding doesn't pad long lines
  padding-left: 0.3em;
  padding-right: 0.3em;
  padding-bottom: 0.2em;
  padding-top: 0.2em;

  &:link {
    color: $tpTextLinkColour;
    
  }

  &:visited {
    color: $tpVisitedColour;
  }

  &:hover {
    color: $tpLinkHoverColour;
    background-color: $tpLinkHoverBackground;
    text-decoration: none;
  }

  // ToDo active - animation for active similar to Material Design
  &:active {
    color: $tpLinkActiveColour;
    background-color: $tpLinkActiveBackground;
  }

} 
// This is to replace the bootstrap style
.my-btn-primary {
  color: white;
  background-color: $tpPrimary;
  border-color: $tpPrimary;
  outline: none;

  &:hover {
    color: white;
    background-color: $tpPrimary-d2;
    border-color: $tpPrimary-d2;
    box-shadow:
      0 0 4px 1px $tpShadowColour,
      0.25em 0.25em 3px $tpShadowColour;
  }

  &:active {
    color: red;
    background-color: $tpPrimary-d2;
    border-color: $tpPrimary-l3;
    box-shadow:
      0 0 4px 1px $tpShadowColour,
      0.25em 0.25em 3px $tpShadowColour;
  }

  // same as main, need it to  overwrite bootstrap. Note focus would overwrite hover, so have to have explicit no hover
  &:focus:not(:hover) {
    color: white;
    background-color: $tpPrimary;
    border-color: $tpPrimary;
    box-shadow: none;
  }
}