@import "../../globals/colours";



.topBox {
  background-color: $tpArticleBackground ;
  overflow: hidden;
  margin-bottom: 1em;
  padding-top: 0.5em;
  box-shadow: 
    0em 0.2em 4px $tpShadowColour,
    0em -0.2em 4px $tpShadowColour,
    0.1em 0em 4px $tpShadowColour,
    -0.1em 0em 4px $tpShadowColour; 
    
}

.topBoxClosed {
  box-shadow: none;

  &:hover {
    transform: scale(1.02);
    border-radius: 5px;
    
    box-shadow: 0.2em 0.2em 4px $tpShadowColour ;  
  }
}

.articleButtonBox {
  margin: 0.5em auto 0.5em auto;
}
.contentBox {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  display:none;
}

.contentBoxOpen {
  display: block;
}

.endBox {
  display:none;
}

.endBoxOpen {
  display: flex;
}
.articleCloseButtonBox {
  margin-bottom: 0.5em;
}