@import "../../globals/colours";
@import "../../globals/fonts";

.linkStyle a {
  border-radius: 0.2em;
  color: $tpTextLinkColour;
  margin-left: 0.3em;
  margin-right: 0.3em;
  padding-bottom: 0.1em;
}

.linkStyle {

  // ToDo add box-shadow to hover/visited

  & a:link {
    color: $tpTextLinkColour;
    
  }

  & a:visited {
    color: $tpVisitedColour;
  }

  & a:hover {
    color: $tpLinkHoverColour;
    background-color: $tpLinkHoverBackground;
    text-decoration: none;
  }

  // ToDo active - animation for active similar to Material Design
  & a:active {
    color: $tpLinkActiveColour;
    background-color: $tpLinkActiveBackground;
  }

  
}